* { box-sizing: border-box; }
.container {
	max-width: 1024px; /* I've a strange affinity for round numbers */
	width: 90%;
	/*background: red;*/
	overflow: hidden;
	margin: 0 auto;
}

p { line-height: 1.5em; }

figure { position: relative; width: 100%; padding: 0; margin: 0 0 20px 0;  }
figure img { position: absolute; top: 0; right: 0; width: 100%; height: 100%; border-radius: 50%; }
.scalinghack { padding-bottom: 100%; }

.social { display: flex; flex-direction: row; justify-content: space-between; }

a.icon { display: block; width: 30px; height: 30px; border: 2px solid black; font-family: 'FontAwesome'; position: relative; text-align: center; border-radius: 50%; color: inherit; text-decoration: none; }

.icon:before { line-height: 26px; vertical-align: middle; font-size: 15px;  }
.icon.github:before { content: '\f113'; }
.icon.linkedin:before { content: '\f0e1'; }
.icon.googleplus:before { content: '\f0d5'; }
.icon.email:before { content: '\f0e0'; }

h1, h2 { margin-bottom: 0.3em;}
dfn { font-style: normal; }
.knowledgecard { font-size: 0.9em; }
.knowledgecard table { border-collapse: collapse; width: 100%; font-size: inherit; }

td { line-height: 1.5em; }

.sidebar { max-width: 200px; margin: 0 auto; }

@media (min-width: 700px) {
	.container { margin-top: 100px; }
	main, .sidebar { float: left; }
	main { width: calc(90% - 200px); margin-right: 10%; }
	.sidebar { width: 200px; }
}

@media (max-width: 699px) {
	.sidebar { margin-top: 50px; }
}

/* Font awesome */
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}